{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "app": "./src/app",
          "pages": "./src/pages",
          "i18n": "./src/i18n",
          "utils": "./src/utils",
          "store": "./src/store",
          "hooks": "./src/hooks",
          "constants": "./src/constants",
          "styles": "./src/styles"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "react-remove-properties"
      ]
    }
  }
}
