{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "app": "./src/app",
          "pages": "./src/pages",
          "i18n": "./src/i18n"
        }
      }
    ]
  ]
}
