{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["prettier", "react", "react-hooks", "sort-imports-es6-autofix"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-use-before-define": 1,
    "no-unused-vars": 1,
    "jsx-a11y/control-has-associated-label": 0,
    // Imports
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "sort-imports-es6-autofix/sort-imports-es6": [
      2,
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    // React
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/button-has-type": 0,
    "react/prop-types": 1,
    "react/jsx-fragments": 0,
    "react/jsx-boolean-value": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
