:root {
  --backgroundColorPrimary: var(--dark-100);
  --backgroundColorSecondary: var(--dark-90);
  --textColor: var(--black);
}

[data-theme='light'] {
  --backgroundColorPrimary: var(--light-100);
  --backgroundColorSecondary: var(--light-90);
  --textColor: var(--white);
}
