.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 275px;
  padding: var(--spacing-10);
  font-size: 24px;
  text-transform: uppercase;
  > *:not(:first-child) {
    margin-top: var(--spacing-02);
  }
}
