.navbar {
  display: flex;
  font-size: 20px;
  .link {
    color: var(--navLinkColor);
    &:not(:last-child) {
      margin-right: $spacing-05;
    }
    &:hover {
      color: var(--navLinkActiveColor);
    }
  }
  .active {
    color: var(--navLinkActiveColor);
  }
}
