$dark-100: #000;
$dark-90: #0f1315;
$dark-80: #181d20;
$dark-70: #20262a;
$dark-60: #252b2f;
$dark-50: #53585b;
$dark-40: #81868a;
$dark-30: #b1b6b9;
$dark-20: #c4c8c9;
$dark-10: #e2e2e3;

$light-100: #293238;
$light-90: #3e474c;
$light-80: #596e79;
$light-70: #9ba8af;
$light-60: #d1d8dc;
$light-50: #e6e7e8;
$light-40: #f2f3f3;
$light-30: #f9f9f9;

$white: #fff;
$black: #000;

$success: #00c96e;
$failure: #e64d4d;
$warning: #f9c923;
