$dark-100: #000;
$dark-90: #0f1315;
$dark-80: #181d20;
$dark-70: #20262a;
$dark-60: #252b2f;
$dark-50: #53585b;
$dark-40: #81868a;
$dark-30: #b1b6b9;
$dark-20: #c4c8c9;
$dark-10: #e2e2e3;

$light-100: #293238;
$light-90: #3e474c;
$light-80: #596e79;
$light-70: #9ba8af;
$light-60: #d1d8dc;
$light-50: #e6e7e8;
$light-40: #f2f3f3;
$light-30: #f9f9f9;

$red-100: #332627;
$red-90: #5b2f30;
$red-80: #e64d4d;
$red-70: #ea6b6b;
$red-60: #f7dddd;

$green-100: #1c332a;
$green-90: #165439;
$green-80: #00c96e;
$green-70: #00eb81;
$green-60: #1fff9a;
$green-50: #d0f2e3;

$blue-100: #222f37;
$blue-90: #28495e;
$blue-80: #3ca3e8;
$blue-70: #59b1eb;
$blue-60: #dbecf8;

$yellow-100: #353425;
$yellow-90: #625728;
$yellow-80: #f3be07;
$yellow-70: #f9c923;
$yellow-60: #faf1d2;

$white: #fff;
$black: #000;

$success: #00c96e;
$failure: #e64d4d;
$warning: #f9c923;
