@import './colors.scss';

:root {
  --backgroundColor: #{$dark-80};
}

[data-theme='light'] {
  --backgroundColor: #{$light-60};
}

html {
  background: var(--backgroundColor);
  color: red;
  font-size: 12px;
  position: absolute;

  .test {
    color: rebeccapurple;
  }
}
