// Fonts, colors, resets, spacings
@import './lib/imports.scss';
// Theme variables
@import './theme/imports.scss';

html {
  color: $black;
  font-family: 'Bebas Neue', cursive;
  background: var(--backgroundColor);
}
